<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0438F8EF7B397320DE8BD778</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>047000954A9B159B37A3E27B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EE55C393B169E62396B74E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3791CA2815533AFC53CC9FF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E298DB1C6272FC012A06E03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>720EE1BED31E5CBBF556DA44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3FDF742F73DAF29D94E7572</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
